@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

:root {
  --h1-size: 82px;
  --h2-size: 42px;
  --h3-size: 28px;
  --regular-text: 28px;
  --desc-text: 22px;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
.screenshot p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h1 {
  font-size: var(--h1-size);
  color: white;
  text-shadow: 0 3px 8px #0000008a;
}

h2 {
  font-size: var(--h2-size);
  text-align: center;
  padding: 35px 0 20px;
}

p {
  font-size: var(--regular-text);
}

header {
  padding: 30px 30px 0 30px;
}

section.about {
  padding: 0 20px 60px;
}

section.work {
  padding: 0 20px 60px;
}

.inner-header {
  position: relative;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 800px 0 0;
  border-color: #0890b1 transparent transparent transparent;
}

.header-img-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

header h1 {
  position: absolute;
  bottom: 0;
  left: 10px;
}

.about p {
  padding-bottom: 20px;
}

.icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 40px;
}

.project {
  border: 1px solid #bebebe46;
  box-shadow: 2px 2px 8px #74747461;
  margin-bottom: 60px;
}

.screenshot {
  height: 300px;
  display: flex;
  align-items: center;
}

.screenshot p {
  color: #fff;
  font-size: var(--h2-size);
  text-align: center;
}

.project:nth-of-type(6n + 1) .screenshot {
  background: #9e1c1c;
}

.project:nth-of-type(6n + 2) .screenshot {
  background: #7c75ca;
}

.project:nth-of-type(6n + 3) .screenshot {
  background: #5e8f4d;
}

.project:nth-of-type(6n + 4) .screenshot {
  background: #c363b4;
}

.project:nth-of-type(6n + 5) .screenshot {
  background: #d88f39;
}

.project:nth-of-type(6n) .screenshot {
  background: #4ba2d2;
}

.data {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  row-gap: 20px;
}

.data h3 {
  padding-left: 10px;
  font-size: var(--h3-size);
}

.data .icons {
  gap: 20px;
  font-size: 30px;
}

.data .description {
  grid-column: 1 / 3;
  font-size: var(--desc-text);
  min-height: 130px;
}