@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

:root {
  font-size: 22px;
  --h1-size: 4rem;
  --h2-size: 2rem;
  --h3-size: 1.3rem;
  --regular-text: 1.3rem;
  --desc-text: 1rem;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

h1,
h2,
h3,
.screenshot p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h1 {
  font-size: var(--h1-size);
  color: white;
  text-shadow: 0 3px 8px #0000008a;
}

h2 {
  font-size: var(--h2-size);
  text-align: center;
  padding: 35px 0 20px;
}

p {
  font-size: var(--regular-text);
}

.img-container {
  position: relative;
}

.img-container:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #3c3c3c36;
}

header {
  min-height: 540px;
  padding-top: 30px;
  overflow: hidden;
  position: relative;
}

section {
  margin: 0 20px 60px;
}

.inner-header {
  position: relative;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 800px 0 0;
  border-color: #0890b1 transparent transparent transparent;
}

.about-img-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}

.about-img-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

header h1 {
  max-width: 300px;
  position: absolute;
  left: 40px;
  bottom: 10px;
  z-index: 5;
}

.about p {
  line-height: 44px;
  padding-bottom: 20px;
}

.icons {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 1.8rem;
}

.project {
  border: 1px solid #bebebe46;
  box-shadow: 2px 2px 8px #74747461;
  margin-bottom: 60px;
}

.screenshot {
  padding: 20px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot p {
  color: #fff;
  font-size: var(--h2-size);
  text-align: center;
}

.project:nth-of-type(6n + 1) .screenshot {
  background: #9e1c1c;
}

.project:nth-of-type(6n + 2) .screenshot {
  background: #7c75ca;
}

.project:nth-of-type(6n + 3) .screenshot {
  background: #5e8f4d;
}

.project:nth-of-type(6n + 4) .screenshot {
  background: #c363b4;
}

.project:nth-of-type(6n + 5) .screenshot {
  background: #d88f39;
}

.project:nth-of-type(6n) .screenshot {
  background: #4ba2d2;
}

.data {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  row-gap: 20px;
}

.data h3 {
  padding-left: 10px;
  font-size: var(--h3-size);
}

.data .icons {
  gap: 20px;
  font-size: 1.2rem;
}

.data .description {
  grid-column: 1 / 3;
  font-size: var(--desc-text);
  min-height: 130px;
}

.contact-me {
  margin: 0;
  color: #fff;
  background: #0891b2;
}

.text-container {
  padding: 0 30px 30px;
}

.text-container > p:first-of-type {
  line-height: 44px;
  font-size: var(--regular-text);
}

.text-container p {
  font-size: var(--desc-text);
}

.text-container .address {
  padding: 30px 0;
}

.text-container .mdi {
  display: none;
}

.text-container .icons {
  padding: 30px 0 60px;
  color: #000;
}

.contact-me img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  section {
    margin: 0 80px 60px;
  }

  header:before {
    border-width: 500px 1800px 0 0;
  }

  header h1 {
    top: 30px;
    max-width: unset;
    bottom: unset;
    left: 40%;
  }

  .about {
    position: absolute;
    top: 160px;
    background: #fff;
    box-shadow: 2px 2px 15px #7474748b;
  }

  .about h2 {
    margin-right: 30px;
  }

  .about p {
    font-size: 0.9rem;
  }

  .about-img-container {
    margin-right: 30px;
    margin-left: -40px;
    margin-top: -120px;
    width: calc(50% + 40px);
    max-width: unset;
    padding: 0;
    position: unset;
    float: left;
    box-shadow: 2px 2px 8px #74747461;
  }

  .about-img-container:after {
    margin-right: 30px;
    margin-left: -40px;
    margin-top: -120px;
    height: 350px;
    width: calc(50% + 40px);
  }

  .about-img-container img {
    height: 350px;
    display: block;
    object-fit: cover;
    box-shadow: 2px 2px 8px #74747461;
  }

  .about p {
    padding: 0 30px;
  }

  .about .icons {
    display: none;
  }

  .work {
    margin-top: 60px;
  }

  .work h2 {
    text-align: left;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }

  .screenshot {
    height: 250px;
  }

  .data h3 {
    font-size: 1rem;
    padding-left: 0;
  }

  .data .description {
    font-size: 0.8rem;
  }

  .data .icons {
    font-size: 1rem;
  }

  .contact-me {
    display: flex;
    gap: 30px;
    padding: 50px;
  }

  .text-container {
    padding: 0;
    flex: 1;
  }

  .footer-img-container {
    max-width: 350px;
  }

  .footer-img-container img {
    object-fit: cover;
    object-position: 70%;
    height: 100%;
  }
  .text-container > p:first-of-type {
    font-size: 0.8rem;
    line-height: unset;
  }

  .text-container p {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  .text-container .mdi {
    display: inline-block;
    font-size: 1.2rem;
    padding-right: 10px;
  }

  .text-container .icons {
    justify-content: left;
  }
}
