@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap");

:root {
  --h1-size: 82px;
  --h2-size: 42px;
  --h3-size: 18px;
  --regular-text: 28px;
  --desc-text: 14px;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: var(--h1-size);
  color: white;
  text-shadow: 0 3px 8px #0000008a;
}

h2 {
  font-size: var(--h2-size);
  text-align: center;
  padding: 35px 0 20px;
}

p {
  font-size: var(--regular-text);
}

header {
  padding: 30px 30px 0 30px;
}

section.about {
  padding: 0 20px;
}

section.work {
  padding: 0 20px;
}

.inner-header {
  position: relative;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 800px 0 0;
  border-color: #0890b1 transparent transparent transparent;
}

.header-img-container img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

header h1 {
  position: absolute;
  bottom: 0;
  left: 10px;
}
